@import '../parts/catalog-categories';

#catalog{

    & .catalog-wrapper{
        display: flex;
        margin-bottom: 30px;
        
        & .categories{
            flex-shrink: 0;
            width: 300px;
            margin-right: 20px;

            @media(max-width: 1100px){
                display: none;
            }
        }

        & .products{
            flex-grow: 1;
            display: flex;
            flex-wrap: wrap;

            & .product-card{
                margin: 10px;

                & .image{
                    background-color: #fff;
                    background-size: cover;
                }

                width: calc(25% - 20px);
                
                @media(max-width: 1900px){
                    width: calc(33.3333% - 20px);
                }

                @media(max-width: 1300px){
                    width: calc(50% - 20px);
                }

                @media(max-width: 700px){
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
}