#main{

    & #hero{
        margin-top: 0;
    }

    & #top-slider{

        & .slides{
            // height: 18vmax;
            // min-height: 400px;
        }

        & li{
            
            & img{
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: top right 15vw;
            }
            
            & .caption{
                padding-right: 40vw;
                top: 0;
                width: 70vw;
                left: 15vw;

                & h3{
                    margin-top: 0;
                    font-size: 43px;
                    color: $slider-text-color;
                }

                & p{
                    color: $slider-text-color;
                    background: rgba(#3e3e3e, .4);
                    padding: 11px 15px;
                }
            }

            @media(max-width: 1200px){

                & img{
                    background-position: top right 7vw;
                }

                & .caption{
                    width: 86vw;
                    left: 7vw;
                }

            }

            @media(max-width: 900px){

                & img{
                    margin-top: 80px;
                    height: calc(100% - 80px);
                    background-position: center;
                }

                & .caption{
                    padding-right: 0;
                    text-align: center;

                    & h3{
                        font-size: 24px;
                    }

                    & p{
                        display: none;
                    }
                }
            }

            @media(max-width: 700px){

                & .caption{

                    & h3{
                        margin-top: 1.168rem;
                    }
                }
            }

            @media(max-width: 450px){

                & img{
                    background-size: 80vw auto;
                    background-position: center;
                }
            }
        }
    }

    & section{

        &#logos{
            border: 1px solid #f0f0f0;
            background: #f0f0f0;
            margin-bottom: 0;
            position: relative;

            @media(min-width: 800px){

                &:before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    pointer-events: none;
                    background: linear-gradient(to left, #f0f0f0 5%, transparent 10%, transparent 90%, #f0f0f0 95%);
                }
            }

            & .row{
                
                & .logos-wrapper{

                    display: flex;
                    overflow: hidden;
                    justify-content: stretch;
                    
                    & .logos-container{
                        display: flex;
                        flex-shrink: 0;
                        margin: 30px 0;
                        min-width: 100%;

                        & .logo{
                            margin: 10px 0;
                            display: block;
                            flex-grow: 1;
                            flex-shrink: 0;
                            padding-top: 60px;
                            background-size: auto 80%;
                            background-position: center;
                            background-repeat: no-repeat;
                            transition: transform .2s;
        
                            &#kverneland{width:240px;}
                            &#kubota{width:160px;}
                            &#holmer{width:290px;}
                            &#samson{width:220px;}
                            &#great-plains{width: 170px;}
                            &#apv{width: 170px;}
                            &#fuchs{width: 120px;}
                            &#agip{width: 180px;}

                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
                }

                & .logos-slider{

                    display: flex;
                    overflow: hidden;
                    padding-top: 20px;

                    & .logo{

                        padding-top: 60px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        margin-left: 12px;
                        display: block;

                        &#kverneland{width:55%;}
                        &#kubota{width:45%;}
                        &#holmer{width:60%;}
                        &#samson{width:40%;}
                        &#great-plains{width: 50%;}
                        &#apv{width: 50%;}
                        &#fuchs{width: 50%;}
                        &#agip{width: 50%;}
                    }

                    & .pair{

                        display: flex;
                        min-width: 100%;

                        & .logo{
                            flex-grow: 1;
                        }
                    }
                }

                @media(max-width: 600px){
                    & .desktop{
                        display: none;
                    }
                }

                @media(min-width: 600px){

                    & .mobile{
                        display: none;
                    }
                }
            }
        }

        &#service{

            margin-top: 0;

            & .service-header{
                font-size: 36px;
                text-transform: uppercase;
            }

            background-color: #4B4B4B;
            color: #fff;
            padding: 60px 0;
            background-position: right 5vw center;
            background-size: 50vw auto;

            @media(max-width: 1500px){
                background-size: auto 100%;
            }

            @media(max-width: 1200px){
                background-position: right -16vw center;
            }

            @media(max-width: 800px){
                background-image: none !important;
            }
        }
    }
}