.breadcrumbs{
    display: flex;

    & .crumb-separator{
        padding: 0 6px;
    }

    & *{
        color: lighten($text, 30);
    }

    & a{

        &:hover{
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}